<!DOCTYPE html>
<html>
	<head>
		<title>foods of color</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="foc_admin_login_styles.css">
	</head>

	<body class="body-box">

		<div class="logo-image">
			<img id="banana" src="foods_of_color_logo/foods_of_color_banana.png">
			<img id="pepper" src="foods_of_color_logo/foods_of_color_pepper.png">
			<img id="melon" src="foods_of_color_logo/foods_of_color_melon.png">
		</div>

		<p class="logo-text">FOODS<br>OF<br>COLOR<br><br><br></p>


		<p class="sub-text">INTERNET COMMERCE ADMINISTRATION SYSTEM</p>
		
		<form class="login-box">
		
			<p class="login-status">INVALID</p>

			<label for="username">USERNAME</label>
			<!-- <input type="text" id="username" name="fname" autofocus> -->
			<!-- Matthew Added -->
			<input type="text" class="form-control" name="username" placeholder="Username" required>
			<label for="password">PASSWORD</label>
			<!-- <input type="password" id="username" name="fname"> -->
			<!-- Matthew Added -->
			<input type="text" class="form-control" name="password" placeholder="Password" required>

			

			<input type="submit" value="SUBMIT">
		</form>	
	</body>
</html>