<!DOCTYPE html>
<html>

<head>
	<title>foods of color</title>
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/css/foc_admin_menu_styles.css">
</head>

<body>
	<form id="edit-form" method = 'post'>
        {%for x in Ranger%}

        <p class="spacer">
            
            {%if x == 0%}
            {{Attribute_List[x]}}
            {%endif%}
            {{Value_List[x]}}
            {%if x > 0%}
            <input id="Password" name="{{Attribute_List[x]}}" value="{{Value_List[x]}}" type="text">
            {{Attribute_List[x]}}
            {%endif%}

        </p>
        {%endfor%}
        <input type="submit" id="edit-sub" value="SUBMIT">
	</form>


</body>

</html>