<!DOCTYPE html>
<html>
	<head>
		<title>foods of color</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
		<link rel="stylesheet" href="foc_admin_menu_styles.css">
	</head>

	<body class="body-box">
		<div class="top-bar">
			<div class="top-combo">
				<img src="foods_of_color_logo/foods_of_color_logo_small.png">
				<p>INTERNET COMMERCE ADMINISTRATION SYSTEM</p>
			</div>
			<button id="log-out">LOG OUT</button>
		</div>
		<div class="menu-box">
			<div class="split" id="left-blank"></div>

			<div class="split" id="left-split">

				<div class="navigation-row" id="left-navigation">
					<button class="back-button" id="left-back-button">&lt;</button>
					<button id="left-button">ADD</button>
					<button id="spacer"></button>
				</div>

				<div class="button-row" id="left-sub-buttons">
					<button>USER</button>
					<button>ADDRESS</button>
					<button>DISCOUNT</button>
					<button>ITEM</button>
				</div>
			</div>

			<div class="split" id="right-split">

				<div class="navigation-row" id="right-navigation">
					<button class="back-button" id="right-back-button">&lt;</button>
					<button id="right-button">LOOKUP</button>
					<button id="spacer"></button>
				</div>


				<div class="button-row" id="right-sub-buttons">
					<button>E-MAIL</button>
					<button>ITEM</button>
					<button>ORDER</button>
					<button>USER</button>
				</div>
			</div>

			<div class="split" id="right-blank"></div>

			<script src="foc_admin_menu_behavior.js"></script>
		</div>
	</body>

</html>