<!DOCTYPE html>

<html>
	<head>
		<title>foods of color</title>
		<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
		<link rel="stylesheet" href="static/css/foc_admin_login_styles.css">
		
	</head>

	<div class="alertMsg">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="contain">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>{{message}}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>
	
	<body class="body-box">

		<div class="logo-image">
			<img id="banana" src="static/foods_of_color_logo/foods_of_color_banana.png" alt = "foods_of_color_banana.png">
			<img id="pepper" src="static/foods_of_color_logo/foods_of_color_pepper.png" alt = "foods_of_color_pepper.png">
			<img id="melon" src="static/foods_of_color_logo/foods_of_color_melon.png" alt = "foods_of_color_melon.png">
		</div>

		<p class="logo-text">FOODS<br>OF<br>COLOR<br><br><br></p>


		<p class="sub-text">INTERNET COMMERCE ADMINISTRATION SYSTEM</p>
		
		<form class="login-box" method="post">
		
			<p class="login-status">INVALID</p>

			<!-- Matthew Added -->
			<input type="text" class="form-control" name="username" placeholder="Username" autofocus required>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
			<label for="username">USERNAME</label>
			<label for="password">PASSWORD</label>
			<input type="submit" value="SUBMIT"></button>
		</form>	
	</body>
</html>