<!DOCTYPE html>
<html>

<head>
	<title>foods of color</title>
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/css/foc_admin_menu_styles.css">
</head>

<body class="body-box">
	<div class="top-bar">
		<div class="top-combo">
			<img src="static/foods_of_color_logo/foods_of_color_logo_small.png">
			<p>INTERNET COMMERCE ADMINISTRATION SYSTEM</p>
		</div>

		<a href="/logout"><button>LOGOUT</button></a>
	</div>
	<div class="menu-box">
		<div class="split" id="left-blank"></div>

		<div class="split" id="left-split">

			<div class="navigation-row" id="left-navigation">
				<button class="back-button" id="left-back-button">&lt;</button>
				<button id="left-button">ADD</button>
				<button id="spacer"></button>
			</div>

			<div class="button-row" id="left-sub-buttons">
				<button id="user-add">USER</button>
				<button id="discount-add">DISCOUNT</button>
				<button id="item-add">ITEM</button>
			</div>

			<div class="multi-input-container">
				<form class="input-box" id="user-add-form" method="post">
					<input id="username" name="username" type="text" required>
					<input id="password" name="password" type="text" required>
					<label>USERNAME</label>
					<label>PASSWORD</label>
					<input id="firstname" name="firstname" type="text" required>
					<input id="lastname" name="lastname" type="text" required>
					<label>FIRST NAME</label>
					<label>LAST NAME</label>
					<input id="email" name="email" type="text" required>
					<input id="phone" name="phone" type="text" required>
					<label>E-MAIL ADDRESS</label>
					<label>PHONE NUMBER</label>
					<input type="submit" id="double-sub" value="SUBMIT">
				</form>

				<form class="input-box" id="discount-add-form" method="post">
					<input id="start-date" type="text" name="start-date" required>
					<input id="end-date" type="text" name="end-date" required>
					<label>START DATE</label>
					<label>END DATE</label>
					<input id="code" type="text" name="code" required>
					<input id="percent-off" type="text" name="percent-off" required>
					<label>CODE</label>
					<label>PERCENT-OFF</label>
					<input id="flat" type="text" name="flat" required>
					<input id="discount-id" type="text" name="discount-id" required>
					<label>FLAT</label>
					<label>DISCOUNT ID</label>
					<input type="submit" id="double-sub" value="SUBMIT">
				</form>

				<form class="input-box" id="item-add-form" method="post">
					<input id="item-name" type="text" name="item-name" required>
					<input id="image-name" type="text" name="image-name" required>
					<label>NAME</label>
					<label>IMAGE NAME</label>
					<input id="quantity" type="text" name="quantity" required>
					<input id="item-number" type="text" name="item-id" required>
					<label>QUANTITY</label>
					<label>ITEM-NUMBER</label>
					<input id="item-description" type="text" name="item-description" required>
					<label id="double-me">DESCRIPTION</label>
					<input type="submit" id="double-sub" value="SUBMIT">
				</form>
			</div>
		</div>

		<div class="split" id="right-split">

			<div class="navigation-row" id="right-navigation">
				<button class="back-button" id="right-back-button">&lt;</button>
				<button id="right-button">LOOKUP</button>
				<button id="spacer"></button>
			</div>


			<div class="button-row" id="right-sub-buttons">
				<button type="submit" name="db_type" value="Email" id="e-mail-lookup">E-MAIL</button>
				<button type="submit" name="db_type" value="Item" id="item-lookup">ITEM</button>
				<button type="submit" name="db_type" value="Order" id="order-lookup">ORDER</button>
				<button type="submit" name="db_type" value="User" id="user-lookup">USER</button>
			</div>


			<form class="input-box" id="right-input-box" method="post">
				<input id="search-key" name="search-key" type="text" required>
				<label>SEARCH KEY</label>
				<input name="search_button" type="submit" value="SEARCH">
			</form>

		</div>

		<div class="split" id="right-blank"></div>

		<script src="static/js/foc_admin_menu_behavior.js"></script>
	</div>
</body>

</html>