<!DOCTYPE html>
<html>

<head>
	<title>foods of color</title>
	<link rel="shortcut icon" type="image/x-icon" href="static/favicon.ico">
	<link rel="stylesheet" href="static/css/foc_admin_menu_styles.css">
</head>

<body>
	<div>
        {%for x in Ranger%}

        <p>
            
            {{Attribute_List[x]}}
            {{Value_List[x]}}
            {%if x > 0%}
            <input id="password" name="password" type="text">
            {%endif%}

        </p>
        {%endfor%}
        <input type="submit" id="double-sub" value="SUBMIT">
	</div>


</body>

</html>